<a id="0"></a>

# <p style="padding:10px;background-color:#87CEEB ;margin:10;color:#000000;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 10px 10px ;overflow:hidden;font-weight:50">Assignment  23: Pandas Advance 1 - Abhishek Waghchaure</p>

<a id="1"></a>

# <p style="padding:10px;background-color:#87CEEB ;margin:10;color:#000000;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 10px 10px ;overflow:hidden;font-weight:50">Question 1</p>

## Question 1: List any five functions of the pandas library with execution.
---

### Reading a Dataframe first

In [121]:
import pandas as pd
df = pd.read_csv('brain_stroke.csv')
print(df.head())

   gender   age  hypertension  heart_disease ever_married      work_type  \
0    Male  67.0             0              1          Yes        Private
1    Male  80.0             0              1          Yes        Private
2  Female  49.0             0              0          Yes        Private
3  Female  79.0             1              0          Yes  Self-employed
4    Male  81.0             0              0          Yes        Private

  Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0          Urban             228.69  36.6  formerly smoked       1
1          Rural             105.92  32.5     never smoked       1
2          Urban             171.23  34.4           smokes       1
3          Rural             174.12  24.0     never smoked       1
4          Urban             186.21  29.0  formerly smoked       1

### 1. describe() function - This function is used to generate descriptive statistics for a DataFrame, such as count, mean, standard deviation, minimum, and maximum.

In [122]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,4981.0,43.419859,22.662755,0.08,25.00,45.00,61.00,82.00
hypertension,4981.0,0.096165,0.294848,0.00,0.00,0.00,0.00,1.00
heart_disease,4981.0,0.055210,0.228412,0.00,0.00,0.00,0.00,1.00
avg_glucose_level,4981.0,105.943562,45.075373,55.12,77.23,91.85,113.86,271.74
bmi,4981.0,28.498173,6.790464,14.00,23.70,28.10,32.60,48.90
stroke,4981.0,0.049789,0.217531,0.00,0.00,0.00,0.00,1.00

### 2. nunique() - This function in Pandas is used to get a count of unique values for each column in a DataFrame. It returns a Pandas Series containing the number of unique values for each column in the DataFrame.

In [123]:
df.nunique()

gender                  2
age                   104
hypertension            2
heart_disease           2
ever_married            2
work_type               4
Residence_type          2
avg_glucose_level    3895
bmi                   342
smoking_status          4
stroke                  2
dtype: int64

### 3. info(): This function is used to print a summary of a DataFrame, including information about the data types, number of non-null values, and memory usage.

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4981 non-null   object
 6   Residence_type     4981 non-null   object
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

### 4. groupby(): The groupby() function is used to group a DataFrame by one or more columns, and apply an aggregate function to each group. It returns a DataFrameGroupBy object that can be used to apply various functions to each group.

In [125]:
df.groupby(['ever_married','gender'])['heart_disease'].mean()

ever_married  gender
No            Female    0.017727
              Male      0.020216
Yes           Female    0.048768
              Male      0.111111
Name: heart_disease, dtype: float64

### 5. pivot_table(): The pivot_table() function is used to create a spreadsheet-style pivot table based on a DataFrame. It takes values from one or more columns of the DataFrame, groups the data by one or more columns, and calculates an aggregate function for each group.

In [126]:
df.pivot_table(index = ['ever_married'],values=['heart_disease'],columns=['gender'],aggfunc='mean')

             heart_disease
gender              Female      Male
ever_married
No                0.017727  0.020216
Yes               0.048768  0.111111

## 6.crosstab()

In [127]:
pd.crosstab(df['ever_married'],df['work_type'])

work_type     Govt_job  Private  Self-employed  children
ever_married
No                 114      806            108       673
Yes                530     2054            696         0

<a id="2"></a>

# <p style="padding:10px;background-color:#87CEEB ;margin:10;color:#000000;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 10px 10px ;overflow:hidden;font-weight:50">Question 2</p>

## Question 2: Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.
---

In [128]:
# Creating a custom function for generating the dataframe as mentioned above
def reindex_dataframe(df):
    new_index = range(1, len(df)+1, 2) # create new index starting from 1 and incrementing by 2
    df = df.reindex(new_index) # re-index the DataFrame with the new index
    return df

In [129]:
# create sample DataFrame
df = pd.DataFrame({'A': ['X', 'Y', 'Z', 'A','B','C'], 'B': [True, False,True, True, True, False], 'C': [1, 2, 3, 4, 5, 6]})

# Showing orignal DataFrame
df

   A      B  C
0  X   True  1
1  Y  False  2
2  Z   True  3
3  A   True  4
4  B   True  5
5  C  False  6

In [130]:
# re-index the DataFrame
df_reindexed = reindex_dataframe(df)

# print the re-indexed DataFrame
df_reindexed

   A      B  C
1  Y  False  2
3  A   True  4
5  C  False  6

<a id="3"></a>

# <p style="padding:10px;background-color:#87CEEB ;margin:10;color:#000000;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 10px 10px ;overflow:hidden;font-weight:50">Question 3</p>

## Question 3: You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

## For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.
---

In [131]:
def sum_first3 (df):
    values = df['Values'].values
    sum = sum(values[:3])
    print(f'The sum of first three values in Values colums is{sum}')

In [132]:
def sum_first_three_values(df):
    values = df['Values'].values # get the 'Values' column as a NumPy array
    sum_of_first_three = sum(values[:3]) # calculate the sum of the first three values
    print(f"The sum of the first three values is {sum_of_first_three}")

In [133]:
# create sample DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Show dataFrame
df

   Values
0      10
1      20
2      30
3      40
4      50

In [134]:
sum_first_three_values(df)

The sum of the first three values is 60

<a id="4"></a>

# <p style="padding:10px;background-color:#87CEEB ;margin:10;color:#000000;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 10px 10px ;overflow:hidden;font-weight:50">Question 4</p>

## Question 4: Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.
---

In [135]:
# create sample DataFrame
df = pd.DataFrame({'Text': ['This is a sentence.', 'Here is another sentence with more words.']})
df

                                        Text
0                        This is a sentence.
1  Here is another sentence with more words.

In [136]:
def word_count_column(df):
    def word_count(df):
        return len(df.split())
    
    df['word_count'] = df['Text'].apply(word_count)
    return df

In [137]:
word_count_column(df)

                                        Text  word_count
0                        This is a sentence.           4
1  Here is another sentence with more words.           7

<a id="5"></a>

# <p style="padding:10px;background-color:#87CEEB ;margin:10;color:#000000;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 10px 10px ;overflow:hidden;font-weight:50">Question 5</p>

## Answer:

### Both DataFrame.size and DataFrame.shape are attributes of a Pandas DataFrame, but they return different values.

### 1. DataFrame.size returns the total number of elements in the DataFrame, which is the product of the number of rows and columns. It is equivalent to the size of the underlying NumPy array.

### 2. DataFrame.shape returns a tuple containing the number of rows and columns in the DataFrame, respectively. It is a convenient way to check the dimensions of the DataFrame.

### Here's an example that demonstrates the difference between DataFrame.size and DataFrame.shape:

In [138]:
# create a sample DataFrame with 2 rows and 3 columns
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4], 'C': [5, 6]})

# print the size and shape of the DataFrame
print("DataFrame size:", df.size)
print("DataFrame shape:", df.shape)

DataFrame size: 6
DataFrame shape: (2, 3)

<a id="6"></a>

# <p style="padding:10px;background-color:#87CEEB ;margin:10;color:#000000;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 10px 10px ;overflow:hidden;font-weight:50">Question 6</p>

## Question 6: Which function of pandas do we use to read an excel file?
---

In [139]:
# read data from an Excel file
df = pd.read_excel('example.xlsx')
df

   Employee_id       Name  Designation
0          101    Utkarsh    Developer
1          102      Seema    Architect
2          103      Aditi  QA (Tester)
3          104      Nitin   Operations
4          105  Sudhanshu      Manager

<a id="7"></a>

# <p style="padding:10px;background-color:#87CEEB ;margin:10;color:#000000;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 10px 10px ;overflow:hidden;font-weight:50">Question 7</p>

## Question 7 : You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

## The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username'column.
---

In [140]:
# Example DataFrame 
df = pd.DataFrame({'email':['abhishek.waghchaure@gmail.com','aditi1@test.in','krunal102@apple.com','kritika.pandey@rediffmail.com','ananya.more3@sample.com']})
df

                           email
0  abhishek.waghchaure@gmail.com
1                 aditi1@test.in
2            krunal102@apple.com
3  kritika.pandey@rediffmail.com
4        ananya.more3@sample.com

In [147]:
def add_username_column(df):
    # Define a function that splits the string at @ character and returns first string i.e. Username
    def username_individual(email):
        return email['email'].split('@')[0]
    
    # apply the username_individual function to the 'email' column of the DataFrame
    df['Username'] = df['email'].apply(username_individual)

    return df

In [149]:
add_username_column(df)

TypeError: string indices must be integers

<a id="8"></a>

# <p style="padding:10px;background-color:#87CEEB ;margin:10;color:#000000;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 10px 10px ;overflow:hidden;font-weight:50">Question 8</p>

## Question 8: You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. Thefunction should return a new DataFrame that contains only the selected rows.

## For example, if df contains the following values:

|     | A   | B   | C   |
|:---:|:---:|:---:|:---:|
|0    |3    |5    |1    |
|1    |8    |2    |7    |
|2    |6    |9    |4    |
|3    |2    |3    |5    |
|4    |9    |1    |2    |

## Your function should select the following rows

|     | A   | B   | C   |
|:---:|:---:|:---:|:---:|
|1    |8    |2    |7    |
|4    |9    |1    |2    |

---

In [151]:
# Creating the example DataFrame
df = pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [150]:
def select_rows(df):
    # create a boolean mask for rows where 'A' > 5 and 'B' < 10
    mask = (df['A'] > 5) & (df['B'] < 10)
    
    df_new = df[mask].copy()
    # return a new DataFrame with only the selected rows
    return df_new

In [152]:
df_new = select_rows(df)
df_new

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

<a id="9"></a>

# <p style="padding:10px;background-color:#87CEEB ;margin:10;color:#000000;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 10px 10px ;overflow:hidden;font-weight:50">Question 9</p>

## Question 9 : Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.
---

In [153]:
def calculate_stats(df):
    # calculate the mean, median, and standard deviation of the 'Values' column
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()

    return mean, median, std_dev

In [154]:
df = pd.DataFrame({'Values': [11, 18, 36, 45, 67]})
df

   Values
0      11
1      18
2      36
3      45
4      67

In [155]:
mean, median , stdev = calculate_stats(df)
print(f'Mean of Values is : {mean}')
print(f'Median of Values is : {median}')
print(f'Standard Deviation of Values is : {round(stdev,4)}')

Mean of Values is : 35.4
Median of Values is : 36.0
Standard Deviation of Values is : 22.3002

<a id="10"></a>

# <p style="padding:10px;background-color:#87CEEB ;margin:10;color:#000000;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 10px 10px ;overflow:hidden;font-weight:50">Question 10</p>

## Question 10 : Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day
---

In [156]:
import pandas as pd

def calculate_moving_average(df):
    # sort the DataFrame by date
    df = df.sort_values(by='Date')

    # calculate the moving average using a rolling window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

In [157]:
df = pd.DataFrame({
    'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12'],
    'Sales': [11, 15, 35, 41, 42, 64, 72, 51, 65, 81, 95, 111]
})

df = calculate_moving_average(df)

In [158]:
df_new = calculate_moving_average(df)
df_new

          Date  Sales  MovingAverage
0   2022-01-01     11      11.000000
1   2022-01-02     15      13.000000
2   2022-01-03     35      20.333333
3   2022-01-04     41      25.500000
4   2022-01-05     42      28.800000
5   2022-01-06     64      34.666667
6   2022-01-07     72      40.000000
7   2022-01-08     51      45.714286
8   2022-01-09     65      52.857143
9   2022-01-10     81      59.428571
10  2022-01-11     95      67.142857
11  2022-01-12    111      77.000000

<a id="11"></a>

# <p style="padding:10px;background-color:#87CEEB ;margin:10;color:#000000;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 10px 10px ;overflow:hidden;font-weight:50">Question 11</p>

## Question 11: You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.Monday, Tuesday) corresponding to each date in the 'Date' column.

|     |Date      |
|:---:|:--------:|
|0    |2023-01-01|
|1    |2023-01-02|
|2    |2023-01-03|
|3    |2023-01-04|
|4    |2023-01-05|

## Your function should create the following DataFrame:

|     |Date      |Weekday  |
|:---:|:--------:|:-------:|
|0    |2023-01-01|Sunday   |  
|1    |2023-01-02|Monday   |
|2    |2023-01-03|Tuesday  |
|3    |2023-01-04|Wednesday|
|4    |2023-01-05|Thursday |

## The function should return the modified DataFrame.
---

In [160]:
df = pd.DataFrame({'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']})
df

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05

In [159]:
def return_weekdays(df):

    # Below changes String Date to datetime format
    df['Date']=pd.to_datetime(df['Date'])

    # below returns weekdays returns weekday
    df['Weekday'] = df['Date'].dt.day_name()
    return df

In [161]:
df_new = return_weekdays(df)
df_new

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday